.show
  .show__content
    .show__content_image
      .show__content_image_big
        = image_tag "cat-2083492_640.jpg",class: "img", alt: "test"
      %ul.show__content_image_small
        %li
          = image_tag "cat-2083492_640.jpg",class: "img", alt: "test"
        %li
          = image_tag "cat-2083492_640.jpg",class: "img", alt: "test"
        %li
          = image_tag "cat-2083492_640.jpg",class: "img", alt: "test"
        %li
          = image_tag "cat-2083492_640.jpg",class: "img", alt: "test"
