.show
  .show__content
    .show__content_image
      .show__content_image_big
        = image_tag "#{@tweet.image}",class: "img", alt: "test", size: "400×250"
      -# %ul.show__content_image_small
      -#   - @tweet.images.each do |t|        
      -#     %li
      -#       = image_tag t.image.url, class: "img", alt: "test",size: "100×125"
    .show__content_description
      .show__content_description_top
        %table
          %tbody
            %tr
            %th 応募者
            %td 
              = @user.name
            %tr
            %th 募集経緯
            %td
              = @tweet.back
            %tr
            %th 性格・特徴
            %td
              = @tweet.personal
            %tr
            %th 健康状態
            %td 
              = @tweet.health
            %tr
            %th 引渡し方法
            %td 
              = @tweet.method
    .show__content_edit
      = link_to "情報を編集", edit_tweet_path(@tweet.id)
      = link_to "情報を削除する", tweet_path(@tweet.id),method: :delete 
        