.show
  .show__content
    .show__content_image
      .show__content_image_big
        = image_tag "cat-2083492_640.jpg",class: "img", alt: "test", size: "400×250"
      %ul.show__content_image_small
        %li
          = image_tag "cat-2083492_640.jpg",class: "img", alt: "test"
        %li
          = image_tag "cat-2083492_640.jpg",class: "img", alt: "test"
        %li
          = image_tag "cat-2083492_640.jpg",class: "img", alt: "test"
        %li
          = image_tag "cat-2083492_640.jpg",class: "img", alt: "test"
    .show__content_description
      .show__content_description_top
        %table
          %tbody
            %tr
            %th 出品者
            %td 
              森下
            %tr
            %th 募集経緯
            %td
              三毛猫  
            %tr
            %th 性格・特徴
            %td
                
            %tr
            %th 健康状態
            %td 
                
            %tr
            %th 引渡し方法
            %td 
