!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ねこ
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header.header
      .header__inner
        = link_to('ねこ','/', class: 'header__inner_logo' )
        -if user_signed_in?
          = form_with(url: search_tweets_path, local: true, method: :get, class: "search-form") do |form|
            = form.text_field :keyword, placeholder: "投稿を検索する", class: "header__inner_form"
          .header__inner_akaunnto
            = link_to("#{current_user.name}", "/users/#{current_user.id}")
            = link_to('ログアウト', destroy_user_session_path, method: :delete)
            = link_to('投稿する', new_tweet_path, class: 'post')
        -else
          .header__inner_akaunnto
            = link_to('ログイン', new_user_session_path, class: 'post')
            = link_to('新規登録', new_user_registration_path, class: 'post')
    = yield
