!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Naynko
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header.header
      .header__inner
        = link_to('ねこ','/', class: 'header__inner_logo' )
        %input.header__inner_form{placeholder: "検索", type: "text" }/
        -if user_signed_in?
          .header__inner_akaunnto
            = link_to('ログアウト',destroy_user_session_path, method: :delete)
            = link_to('投稿する', 'tweets/new', class: 'post')
        -else
          .header__inner_akaunnto
            = link_to('ログイン',new_user_session_path, class: 'post')
            = link_to('新規登録',new_user_registration_path, class: 'post')
    = yield
